<!-- {% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding:10px;background-color: #2596be">
    <div class="container-fluid m-0 p-0" style="background-color: #2596be; height:150px">

        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="#home">
            <img src="{% static 'img/navyojan.png' %}" alt="Logo" width="122px" height="34px" top="100px" left="80px">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="dropdown1">
                <button class="dropbtn1" style="background-color: #2596be">All Scholarship<span class="badge"><img class="my_image my_image_padding" src="{% static 'img/navyojan.png' %}" alt="Login Image"  width="3px" height="7px"></span></button>
                <div class="dropdown-content1">
                    <a href="#service1">All Scholarship</a>
                    <a href="#service2">Live Application form</a>
                </div>
            </div>
            <div class="dropdown1">
                <button class="dropbtn1" style="background-color: #2596be">Categories</button>
                <div class="dropdown-content1">
                    <a href="#service1">SC/ST/OBC</a>
                    <a href="#service2">Male</a>
                    <a href="#service4">Female</a>
                    <a href="#service5">Minority</a>
                    <a href="#service6">Physically disabled</a>
                </div>
            </div>
            <div class="dropdown1">
                <button class="dropbtn1" style="background-color: #2596be">States</button>
                <div class="dropdown-content1">
                    <a href="#product1">Kerala</a><a href="#product4">Andra Pradesh</a>
                    <a href="#product2">Tamilnadu</a><a href="#product5">Telugana</a>
                    <a href="#product3">Karnataka</a><a href="#product6">Karnataka</a>
                    <a href="#product7">Goa</a><a href="#product10">Maharashtra</a>
                    <a href="#product8">Gujarat</a><a href="#product11">Rajasthan</a>
                    <a href="#product9">Odisha</a><a href="#product12">West Bengal</a>
                    <a href="#product13">Madhya pradesh</a><a href="#product16">Jharkand</a>
                    <a href="#product14">Utharanjal</a><a href="#product17">Uttarpradesh</a>
                    <a href="#product15">Punjab</a><a href="#product18">Jammu & Kashmir</a>
                    <a href="#product19">Sikkim</a><a href="#product22">Arunajalpradeh</a>
                    <a href="#product20">Assam</a><a href="#product23">Chattisgarh</a>
                    <a href="#product21">Meghalaya</a><a href="#product24">Bihar</a>
                    <a href="#product25">Nagaland</a><a href="#product26">Hariyana</a>
                </div>
            </div>
            <div class="dropdown1">
                <button class="dropbtn1" style="background-color: #2596be">Current Class</button>
                <div class="dropdown-content1">
                    <a href="#service1">Class 1-10</a>
                    <a href="#service2">Class 11 & 12</a>
			        <a href="#service3">Polytechnic/Diploma/ITI</a>
                    <a href="#service4">Graduation</a>
			        <a href="#service5">Post Graduation</a>
			        <a href="#service6">PhD/Post Doctoral</a>
                </div>
            </div>
            <div class="dropdown1">
                <button class="dropbtn1" style="background-color: #2596be">Type</button>
                <div class="dropdown-content1" style="font-size : 12px;background-color: #2596be;font-color : white">
                    <a href="#service1">Income Based</a>
                    <a href="#service2">Merit Based</a>
			        <a href="#service3">Cultural Talent</a>
                    <a href="#service4">Sports Talent</a>
			        <a href="#service5">Literary Art</a>
                </div>
            </div>
        </div>

<a style="color: beige;" class="nav-link" href="">HOME</a>

        {% if user.is_authenticated %}
            <li>Hello {{user.username}} </li>
            <a style="color: beige;" class="nav-link" href="{% url 'registration_app:logout' %}">Logout</a>
        {% else %}
            <right><a style="color: beige;" class="nav-link" href="{% url 'registration_app:register' %}">Sign Up</a></right>
            <right><a style="color: beige;" class="nav-link" href="">Login</a></right>
        {% endif %}

    </div>
</nav>
<br><br> -->
