<!--{% load static %}-->
<!--<div class="container">-->

<!--&lt;!&ndash;    <a href="#home">Home</a>&ndash;&gt;-->

<!--    <div class="btn-group" role="group" aria-label="Basic example1">-->
<!--        <button type="button" class="btn btn-secondary" style="background-color:#ADBB16; border-radius: 10px;font-size:14px; position:left;width : 315px;">Your Plans </button>-->
<!--    </div>-->
<!--                      <br><br>-->
<!--    <div class="btn-group" role="group" aria-label="Basic example2">-->
<!--        <button type="button" class="btn btn-secondary" onclick="assignDecimalValue(199.00)" style="background-color: #4747d1; font-size:14px;border-radius: 20px 0 0 20px;">Premium account<br>199/-<i class="fa-regular fa-user"></i> </button>-->
<!--        <button type="button" class="btn btn-secondary" onclick="assignDecimalValue(199.00)" style="background-color: #4747d1; font-size:10px;border-radius: 0 20px 20px 0;">Browse & Apply for your scholarship </button>-->
<!--    </div>-->
<!--                      <br><br>-->
<!--    <div class="btn-group" role="group" aria-label="Basic example3">-->
<!--        <button type="button" class="btn btn-secondary" onclick="assignDecimalValue(145.00)" style="background-color: #00cc00; font-size:14px;border-radius: 20px 0 0 20px;">Standard account<br>149/- <i class="fa-solid fa-user-check"></i> </button>-->
<!--        <button type="button" class="btn btn-secondary" onclick="assignDecimalValue(145.00)" style="background-color: #00cc00; font-size:10px;border-radius: 0 20px 20px 0;">Browse & Apply for your scholarship  <br> Filters your fittest scholarships </button>-->
<!--    </div>-->
<!--                      <br><br>-->
<!--    <div class="btn-group" role="group" aria-label="Basic example4">-->
<!--       <button type="button" class="btn btn-secondary" onclick="assignDecimalValue(245.00)" style="background-color: #cc3399; font-size:14px;border-radius: 20px 0 0 20px;">Standard account<br>245/ -<i class="fa-solid fa-user-graduate"></i> </button>-->
<!--       <button type="button" class="btn btn-secondary" onclick="assignDecimalValue(245.00)" style="background-color: #cc3399; font-size:10px;border-radius: 0 20px 20px 0;">Browse & Apply for your scholarship  <br> Filters your fittest scholarships </button>-->
<!--    </div>-->
<!--    <br><br>-->
<!--    <form method="post" action="{% url 'registration_app:process_payment' %}">-->
<!--       <input type="number" step="0.01" name="selected_plan" id="selectedPlan" readonly>-->
<!--        <input type="number" id="selectedPlan" name="selectedPlan" step="0.01" placeholder="Select your plan to proceed further" readonly>-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->

<!--        <button type="submit">Pay Now</button>-->
<!--    </form>-->

    <!-- payment_form.html -->
<!--    <form action="{% url 'registration_app:process_payment' %}" method="post" id="payment-form">-->
<!--    {% csrf_token %}-->
<!--        <input type="text" name="selected_plan" id="selectedPlan" placeholder="Enter amount" readonly>-->
<!--        <div id="card-element">-->
<!--      &lt;!&ndash; A Stripe Element will be inserted here. &ndash;&gt;-->
<!--        </div>-->
<!--    &lt;!&ndash; Used to display form errors. &ndash;&gt;-->
<!--        <div id="card-errors" role="alert"></div>-->
<!--        <button type="submit">Submit Payment</button>-->
<!--    </form>-->


</div>

