<!-- student_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <ul>
    {% for student in students %}
        *************************************
        <li>{{ student.first_name }}</li>
        <li>{{ student.education }}</li>
        <li>{{ student.dob }}</li>
        <li>{{ student.phone }}</li>
        <li>{{ student.email }}</li>
        *************************************
    {% endfor %}
    </ul>
</body>
</html>
